
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-inline" action="/" method="POST">
            <fieldset>
                <div><p>Calculator with two operands</p></div>
                <div class="form-group">
                    <div class="col-sm-1 ">
                        <input type="text" class="form-control" id="leftOperand" placeholder="Left Operand"
                               name="calculator[leftOperand]" value="{{calculator.leftOperand}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 ">
                        <select class="form-control" name="calculator[operator]">
                            <option value="+"{{selectif calculator.operator '+'}}>+</option>
                            <option value="-"{{selectif calculator.operator '-'}}>-</option>
                            <option value="*"{{selectif calculator.operator '*'}}>*</option>
                            <option value="/"{{selectif calculator.operator '/'}}>/</option>
                            <option value="% of"{{selectif calculator.operator '% of'}}>% of</option>
                            <option value="%"{{selectif calculator.operator '%'}}>%</option>
                            <option value="< = >"{{selectif calculator.operator '< = >'}}>< = ></option>
                            <option value="^"{{selectif calculator.operator '^'}}>^</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="rightOperand" placeholder="Right Operand"
                               name="calculator[rightOperand]" value="{{calculator.rightOperand}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 ">
                        <p>=</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="result" placeholder="Result"
                               name="result" value="{{result}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>

                <br/><br/><br/>

                <div><p>Calculator with one operands</p></div>

                <div class="form-group">
                    <div class="col-sm-4 ">
                        <select class="form-control" name="calculator[operator2]">
                            <option value="1/x"{{selectif calculator.operator2 '+'}}>1/x</option>
                            <option value="sqrt"{{selectif calculator.operator2 'sqrt'}}>sqrt</option>
                            <option value="x!"{{selectif calculator.operator2 'x!'}}>x!</option>
                            <option value="sin(x)"{{selectif calculator.operator2 'sin(x)'}}>sin(x)</option>
                            <option value="cos(x)"{{selectif calculator.operator2 'cos(x)'}}>cos(x)</option>
                            <option value="log(x)"{{selectif calculator.operator2 'log(x)'}}>ln(x)</option>
                            <option value="ex"{{selectif calculator.operator2 'ex'}}>eˣ</option>
                            <option value="|x|"{{selectif calculator.operator2 '|x|'}}>|x|</option>
                        </select>

                    </div>
                </div>
                X =
                <div class="form-group">
                    <div class="col-sm-1 ">
                        <input type="text" class="form-control" id="firstOperand" placeholder="First Operand"
                               name="calculator[firstOperand]" value="{{calculator.firstOperand}}">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-2 ">
                        <p><h4>Result: </h4> </p>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="result2" placeholder="Result2"
                               name="result2" value="{{result2}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>

                <br/><br/><br/>

                <div><p>Number converter</p></div>

                <div class="form-group">
                    <div class="col-sm-1 ">
                        <input type="text" class="form-control" id="secondOperand" placeholder="Enter Operand"
                               name="calculator[secondOperand]" value="{{calculator.secondOperand}}">
                    </div>
                </div>
                From:
                <div class="form-group">
                    <div class="col-sm-4 ">
                        <select class="form-control" name="calculator[systemOne]">
                            <option value="binary"{{selectif calculator.systemOne 'binary'}}>binary</option>
                            <option value="dec"{{selectif calculator.systemOne 'dec'}}>dec</option>
                            <option value="octal"{{selectif calculator.systemOne 'octal'}}>octal</option>
                            <option value="hexa"{{selectif calculator.systemOne 'hexa'}}>hexa</option>
                        </select>
                    </div>
                </div>
                To:
                <div class="form-group">
                    <div class="col-sm-4 ">
                        <select class="form-control" name="calculator[systemTwo]">
                            <option value="binary"{{selectif calculator.systemTwo 'binary'}}>binary</option>
                            <option value="dec"{{selectif calculator.systemTwo 'dec'}}>dec</option>
                            <option value="octal"{{selectif calculator.systemTwo 'octal'}}>octal</option>
                            <option value="hexa"{{selectif calculator.systemTwo 'hexa'}}>hexa</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 ">
                        <p><h4>Result: </h4> </p>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="result3" placeholder="Result"
                               name="result3" value="{{result3}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


